body{
  background-image: linear-gradient(to right top, #051937, #133660, #1d578d, #1f7abb, #12a0eb);


  color: #777;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.card{
  box-shadow: 0 28px 64px rgba(0,0,0, .1);
  border-radius: 2px;
}

.row{
  margin-bottom: 20px;
}
